.banner {
  background: linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  position: relative;
  overflow: hidden;
  height: 800px;
  &::after {
    content: '';
    background-image: url('../../src/assets/img/header-background.png');
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-family: var(--f-montserrat);
    text-transform: uppercase;
    color: var(--c-white);
    line-height: normal;
    letter-spacing: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
  }  

  &__description {
    font-family: var(--f-montserrat);
    text-transform: uppercase;
    color: var(--c-white);
    letter-spacing: 5.4px;
    line-height: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    display: flex;
  }
  
  .swiper-slide img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    gap: 19px;
    display: flex;
    flex-direction: column;
  }
  .swiper-pagination-bullet {
    border: 1px solid var(--c-white);
    opacity: 1;
    width: 12px;
    height: 12px;
    background-color: var(--c-blue-2);
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
    
  }
}

.scroll-down {
  z-index: 3;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  &__svg {
  width: 40px;
  height: 40px;
  stroke-width: 2px;
  stroke: #FFF;
  fill: #FFF;
 
  }
}