.contact {
  border: 1px solid var(--c-black);
  transform: translateX(-50%);
  background: var(--c-white);
  padding: 90px 50px 68px;
  position: absolute;
  bottom: -150px;
  height: 450px;
  width: 770px;
  z-index: 2;
  left: 50%;
  }