.form {
  flex-direction: row;
  display: flex;
  gap: 40px;

  &__info {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    width: 50%;
    gap: 30px;
  }

  &__registration {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    width: 50%;
    gap: 30px;
  }

  &__btn {
  float: right;
  }

  &__error {
    color: var(--c-red);
    font-size: 14px;
    height: 20px;
}

.p-style {
  font-family: var(--f-montserrat);
  color: var(--c-black);
  font-style: normal;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
}

.input-style {
  width: 100%;
  border-bottom: 1px solid var(--c-black);
  font-family: var(--f-montserrat);
  border-right: var(--c-white);
  border-left: var(--c-white);
  border-top: var(--c-white);
  color: var(--c-black);
  margin-bottom: 30px;
  line-height: 27px; 
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}

}