.form {
  flex-direction: row;
  display: flex;
  gap: 40px;

  &__info {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    width: 50%;
    gap: 30px;
  }

  &__registration {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    width: 50%;
    gap: 30px;

    &__input-style {
      width: 100%;
      border-bottom: 1px solid var(--c-black);
      border-right: var(--c-white);
      border-left: var(--c-white);
      border-top: var(--c-white);
      color: var(--c-black);
      margin-bottom: 30px;
      line-height: 27px;
      font-size: 18px;
      opacity: 0.5;
    }
  }

  &__btn {
    float: right;
  }

  &__error {
    color: var(--c-red);
    font-size: 14px;
    height: 20px;
  }

  &__contact-style {
    font-family: var(--f-montserrat);
    color: var(--c-black);
    font-style: normal;
    line-height: 28px;
    font-weight: 400;
    font-size: 18px;
  }

  .valid {
    border: 2px solid var(--c-green);
  }

  .invalid {
    border: 2px solid var(--c-red);
  }
}

@media screen and (max-width: 768px) {
  .form {
    &__contact-style {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 546px) {
  .form {
    &__contact-style {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 430px) {
  .form {
    flex-direction: column;
    gap: 20px;
    &__info {
      flex-direction: column;
      width: 100%;
      gap: 20px;
    }

    &__registration {
      align-items: flex-start;
      width: 100%;
      gap: 10px;
    }
  }
}
