.gallery {
  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
  }

  &__row {
    position: relative;
    &:nth-child(2n) {
      &>.gallery__block {
        order: -1;
      }
    }
    &__svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
      z-index: 2;
    }
  }

  &__small {
    &:nth-child(2n) {
      order: -1;
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
  }
}