.gallery {
  &__block {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    display: grid;
    gap: 10px;
  }

  &__block-big {
    position: relative;
  }

  &__icon {
    transform: translate(-50%, -50%);
    position: absolute;
    height: 70px;
    width: 70px;
    z-index: 2;
    left: 50%;
    top: 50%;
  }

  &__row {
    position: relative;
    &:nth-child(2n) {
      &>.gallery__block {
        order: -1;
      }
    }
  }

  &__small {
    &:nth-child(2n) {
      order: -1;
    }
  }

  &__btn {
    transform: translateX(-50%);
    position: absolute;
    margin-top: 60px;
    left: 50%;
  }
}