.posts {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;

  &__item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--c-lightgrey);
    background-color: var(--c-white);
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height: 520px;
  }

  &__title {
    font-family: var(--f-montserrat);
    color: var(--c-blue-dark);
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 22px;
    margin: 10px;

    &::after {
      content: '.';
    }
  }

  &__body {
    font-family: var(--f-open-sans);
    color: var(--c-blue-dark);
    line-height: normal;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    margin: 10px;
    &:first-letter {
      text-transform: uppercase;
    }
    &::after {
      content: '...';
    }
  }
}
