.projects {
  background-color: var(--c-white);
  overflow: hidden;

  &__wrapper {
    flex-direction: column;
    display: flex;
    gap: 200px;
  }

  &__card {
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    display: flex;
    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__img-block {
    position: relative;
    max-width: 630px;
    flex-basis: 55%;
    z-index: 2;

    &::before {
      content: '';
      background: var(--c-blue);
      display: inline-block;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      top: -50px;
      left: -40%;
    }
  }

  &__card--reverse {
    .projects__img-block {
      &::before {
        background: var(--c-blue-2);
        right: -40%;
        left: auto;
      }
    }
    .projects__content {
      padding-right: 70px;
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    &__img-block {
      max-width: 500px;
    }

    &__wrapper {
      gap: 150px;
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    &__img-block {
      max-width: 400px;
    }

    &__wrapper {
      gap: 100px;
    }
  }
}

@media screen and (max-width: 430px) {
  .projects {
    &__card {
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &--reverse {
        flex-direction: column;
      }
    }
    &__img-block {
      &::before {
        top: -30px;
      }
    }
  }
}
