.scroll-down {
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  bottom: 40px;
  z-index: 3;
  left: 50%;

  &__svg {
    scroll-behavior: smooth;
    stroke: var(--c-white);
    fill: var(--c-white);
    stroke-width: 2px;
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .scroll-down__svg {
    display: none;
  }
}
