.scroll-down {
  transform: translateX(-50%);
  position: absolute;
  bottom: 40px;
  z-index: 3;
  left: 50%;


  &__svg {
  stroke: var(--c-white);
  fill: var(--c-white);
  stroke-width: 2px;
  height: 40px;
  width: 40px;
  scroll-behavior:smooth;
  }
}