.button {
  border: 1px solid var(--c-blue-dark);
  background: var(--c-white);
  max-width: max-content;
  padding: 16px 41px;
  display: flex;

&__label {
font-family: var(--f-montserrat);
text-transform: uppercase;
color: var(--c-black);
font-style: normal;
line-height: normal;
font-weight: 400;
font-size: 14px;
}
}