.button {
  background: var(--c-white);
  padding: 16px 41px;
  border: 1px solid var(--c-blue-dark);
  display: flex;
  max-width: max-content;

&__label {
font-family: var(--f-montserrat);
color: var(--c-black);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
}