.button {
  border: 1px solid var(--c-blue-dark);
  background: var(--c-white);
  max-width: max-content;
  padding: 16px 41px;

  &__label {
    text-transform: uppercase;
    color: var(--c-black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .button {
    padding: 14px 36px;

    &__label {
      font-size: 12px;
    }
  }
}
