.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.section-paddings {
  padding-bottom: 150px;
  padding-top: 150px;
}

@media screen and (max-width: 1024px) {
  .section-paddings {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .section-paddings {
    padding-bottom: 90px;
    padding-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .section-paddings {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}